* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation-link {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding:20px;
}
.navigation-link ul {
    display: flex;
    gap:40px;
}
.navigation-link ul li {
    list-style-type: none;
}
.navigation-link ul li a {
    border: 2px solid transparent;
    padding: 4px 12px;
    text-decoration: none;
    color: black
}
.navigation-link ul li a:hover {
  border: 2px solid red;
  border-radius: 10px;
}
.navigation-link p {
    font-size: 25px;
    font-weight: 700;
    color: black;
}
.logo-span {
    color: red;
}
.hero-content {
    background: radial-gradient(circle at top right, #005CFF 0%, transparent 22%),
    radial-gradient(circle at bottom left, #FF0000 0%, transparent 18%),
    linear-gradient(135deg, #050505 0%, #081226 50%, #000000 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 200px;
    color: white;
}
.hero-content h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
}
.hero-content p {
    font-size: 40px;
    font-family: 'popping', sans-serif;
}
.introductive-paragraph {
    font-size: 12px;
}
.name-span {
    color: red;
}
.border-image {
    padding: 6px;
    background: linear-gradient(45deg,
    #2563ed 0%,
    #8b5cf6 50%,
   #ef4444 100%
    );
    border-radius: 25px;
}
.hero-content img {
    width: 300px;
    height: 350px;
    border-radius: 25px;
    object-fit: cover;
    display: block;
}
.hero-content button {
   width: 200px;
   padding: 12px;
   border-radius: 10px;
   margin-top: 30px;
   border: 2px solid red;
   color: white;
   background: transparent;
   font-size: 18px;
   font-weight: 700;
   margin-right:10px ;
}
.hero-content button:nth-child(4) {
    background-color: #ef4444;
}
.hero-content button:nth-child(4):hover {
    background: #c1121f;
    border: 2px solid #c1121f;
} 

.sidebar {
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100px;
    background-color: #ef4444;
    transition: 0.4s;
}

.show {
    left: 0;
}